[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.button {
	background-color: $primary-800;
	box-shadow: $shadow-2;
	transition: 400ms;

	&:hover {
		background-color: $primary-600;
	}

	&:active {
		box-shadow: $shadow-1;
	}

	&:active, &:focus {
		background-color: $primary-700;
	}
}

.action-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

    .action {
        padding: 0 .1rem;

		.fa {
			height: 38px;
			width: 38px;
			border: 2px solid $primary;
			margin: 0 5px;
		    padding: 8px;
		    border-radius: 50%;
			color: $primary;
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover {
				background: $primary;
				color: $white;
			}
		}
    }
}
