.search-input {
	position: relative;

	input {
		padding: .5rem 2.3rem .5rem .5rem;
	}

	.search-icon {
		position: absolute;
		right: 0;
		top: 0;
		height: 39px;
		width: 39px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
