// Top

.menu {
	margin: 0;
	background: $primary;
	padding: 0;
	font-size: 1.2rem;
	line-height: 16rem;
	color: #757575;
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.25);
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0;

	li {
		padding: 0;

		a {
			color: $white;
			padding: 1.2rem 1rem;

			&:hover {
				background: $primary-900;
			}

			&.menu-toggle {
				display: none;
				align-items: center;
				justify-content: center;

				i {
					margin: 0;
				}
			}
		}
	}

    .active {
        a {
            transition: all 500ms;
            color: #2199e8;
            background: transparent;
            text-decoration: underline;
        }
    }
}

.menu-text {
	padding: .5rem 1rem;

    &.home-link {
        text-transform: uppercase;
    }
}

.menu-toggle {
    float: right;
    display: none;

    &:hover {
        cursor: pointer;
        opacity: .9;
    }
}


// Media Query
@media screen and (max-width: 600px) {
	.home-link {
		flex-grow: 1;
	}

    .menu-toggle {
        display: inline;
    }

    .menu {
        li {
            display: flex;
			flex-direction: row;

			a {
				&.menu-toggle {
					display: flex;
				}
			}

            &.untoggled {
                display: none;
            }
        }
    }
}
