// Top

.menu {
	margin: 0;
	background: $primary-500;
	padding: 0;
	font-size: 1.2rem;
	line-height: 16rem;
	color: #757575;
	box-shadow: $shadow-3;
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0;

	li {
		padding: 0;

		a {
			color: $white;
			padding: 1rem;
			transition: background 300ms;

			&:hover,
			&.active {
				background: $primary-700;
			}

			&.menu-toggle {
				display: none;
				align-items: center;
				justify-content: center;

				i {
					margin: 0;
				}
			}
		}
	}

	.menu-text {

	    &.home-link {
	        text-transform: uppercase;
	    }

		a {
			&.home-link {
				background: $primary-500;
			}
		}
	}

    .active {
        a {
            transition: all 500ms;
            color: #2199e8;
            background: transparent;
            text-decoration: underline;
        }
    }
}



.menu-toggle {
    float: right;
    display: none;

    &:hover {
        cursor: pointer;
        opacity: .9;
    }
}


// Media Query
@media screen and (max-width: 600px) {
	.home-link {
		flex-grow: 1;
	}

    .menu-toggle {
        display: inline;
    }

    .menu {
        li {
            display: flex;
			flex-direction: row;

			a {
				&.menu-toggle {
					display: flex;
				}
			}

            &.untoggled {
                display: none;
            }
        }
    }
}
