.modal-container {
	display: none;

	&.show {
		display: block;
	}

	.modal {
		position: fixed;
		z-index: 100;
		width: 50%;
		max-width: 650px;
		left: 50%;
		top: 15%;
		transform: translateX(-50%);
		@include box-shadow(3);

		@media screen and (max-width: 640px) {
			width: 90%;
		}

		.modal-content {
			padding: 0;
		}
	}

	.modal-backdrop {
		position: fixed;
		z-index: 10;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0,0,0,0.5);
	}
}
