.pagination-controls {
	width: 100%;

	.pages-info {
		width: 100%;
		text-align: center;
		color: $primary-500;
		font-weight: bold;
    	margin-top: 5px;
	}

	.controls-list {
		list-style-type: none;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		.page-button {
			display: inline-flex;
			justify-content: center;
		    align-items: center;
			transition: all 500ms;
		    outline: none;
			margin: 0 3px;
		    cursor: pointer;
			border: 3px solid $primary-500;
    		border-radius: 15px;
		    height: 30px;
		    width: 30px;
		    background: $primary-500;
			color: $white-500;

			&:nth-child(1),
			&:nth-child(2) {
				.fa {
					margin-top: -2px;
				}
			}

			&:nth-last-child(1),
			&:nth-last-child(2) {
				.fa {
					margin-top: -2px;
					margin-right: -2px;
				}
			}

			&:hover {
				text-decoration: underline;

				&:active {
					text-decoration: none;
				}
			}

			&:disabled {
				background: transparent;
			}

			&.active {
				color: $primary-500;
				background: $white-500;
			}
		}
	}
}
