//Colors
$primary: #3f7294;
$primary-900: lighten($primary, 3%);
$primary-800: lighten($primary, 6%);
$primary-700: lighten($primary, 9%);
$primary-600: lighten($primary, 12%);
$primary-500: lighten($primary, 15%);
$primary-200: lighten($primary, 18%);
$primary-300: lighten($primary, 21%);
$primary-200: lighten($primary, 24%);
$primary-100: lighten($primary, 27%);

$white: #fbfbfb;
$black: #4a4a4a;
