// Main view
$animations: 'fade';
@each $animation in $animations {
	.#{$animation}-enter,
	.#{$animation}-appear {
		opacity: 0;
	    animation: #{$animation}-in 500ms;

		&.#{$animation}-enter-active,
		&.#{$animation}-appear-active {
			opacity: 1;
		}
	}

	.#{$animation}-leave {
		opacity: 1;
	    animation: #{$animation}-out 500ms;

		&.#{$animation}-leave-active {
			opacity: 0;
		}
	}
}

.content-container {
	position: relative;

	.view-enter,
	.view-appear {
		position: absolute;
		left: 0;
		right: 0;
		opacity: 0;
		animation: fade-in 500ms;

		&.view-enter-active,
		&.view-appear-active {
			opacity: 1;
		}
	}

	.view-leave {
		position: absolute;
		left: 0;
		right: 0;
		opacity: 1;
		animation: fade-out 500ms;

		&.view-leave-active {
			opacity: 0;
		}
	}
}

// Animation
@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}
