<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React Movie App</title>

	<!-- Seo Meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="This is a demo stack with node.js, hapi.js, reactJs, and postgreSQL.">
    <meta name="author" content="Zack Anselm">
    <meta property="og:title" content="React Movie App"/>
    <meta property="og:url" content="http://www.react.ZackAnselm.com/"/>
    <meta property="og:image" content="http://www.react.ZackAnselm.com/images/hapi.png"/>
    <meta property="og:site_name" content="React Movie App"/>
    <meta property="og:description" content="This is a demo stack with node.js, hapi.js, reactJs, and postgreSQL."/>

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="main" class="view">{{{markup}}}</div>
    <script src="/js/bundle.js"></script>
  </body>
</html>
